#hunter_account {
  position: absolute;
  top: 40px;
  right: 35px;
  width: 290px;
  height: 120px;
  margin-left: 8px;
  margin: 0;
  background-color: rgb(58, 73, 156);
}

#hunter_account .hunter_information {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 100px;
  padding: 10px 0 10px 10px;
  text-align: center;
}
#hunter_account img {
  width: 70px;
  height: 70px;
}
#hunter_account span {
  position: absolute;
  top: 79px;
  left: 10px;
  padding: 9px 11px 0;
  color: gold;
}

#hunter_account .hunter_state {
  position: absolute;
  top: 0px;
  left: 80px;
  width: 99px;
  height: 100px;
  padding: 10px 10px 10px 0;
  border-right: 1px solid gold;
}
#hunter_account ul {
  width: 70px;
  height: 90px;
  padding: 5px 20px;
}
#hunter_account li {
  height: 20px;
  padding: 5px 0;
  color: gold;
  font-size: 15px;
}

#hunter_account .hunter_links {
  position: absolute;
  top: 0px;
  left: 190px;
  width: 80px;
  height: 90px;
  padding: 15px 10px;
}
#logout, #info {
  border: 2px solid gold;
  color: gold;
  font-weight: bold;
  cursor: pointer;
}
#logout {
  padding: 5px 6px;
}
#info {
  margin-top: 20px;
  padding: 5px 14px;
}

#body .main_area {
  position: relative;
  margin: 0 1px;
}

#main_tab input[type="radio"] {
  display: none;
}
#main_tab label {
  box-sizing: border-box;
  display: inline-block;
  width: 222px;
  height: 28px;
  padding-top: 2px;
  color: rgb(58, 73, 156);
  border: 1px solid rgb(58, 73, 156);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
#main_tab label[for="main_tab1"] {
  position: relative;
}
#main_tab label[for="main_tab2"] {
  position: absolute;
  top: 0;
  left: 222px;
  border-left: 0px;
  border-right: 0px;
}
#main_tab label[for="main_tab3"] {
  position: absolute;
  top: 0;
  left: 444px;
  border-right: 0px;
}
#main_tab label[for="main_tab4"] {
  position: absolute;
  top: 0;
  left: 666px;
}
#main_tab1:checked+label[for="main_tab1"] {
  background-color: rgb(58, 73, 156);
  color: gold;
}
#main_tab2:checked+label[for="main_tab2"] {
  background-color: rgb(58, 73, 156);
  color: gold;
}
#main_tab3:checked+label[for="main_tab3"] {
  background-color: rgb(58, 73, 156);
  color: gold;
}
#main_tab4:checked+label[for="main_tab4"] {
  background-color: rgb(58, 73, 156);
  color: gold;
}

#main_tab .tab_con {
  position: relative;
  display: none;
}
#main_tab1:checked~.post_list {
  display: block;
  width: 888px;
  padding-top: 20px;
  color: gold;
  background-color: rgb(58, 73, 156);
}
#main_tab2:checked~.schedule {
  display: block;
  width: 888px;
  color: gold;
  background-color: rgb(58, 73, 156);
}
#main_tab3:checked~.working_hours {
  display: block;
  width: 888px;
  color: gold;
  background-color: rgb(58, 73, 156);
}
#main_tab4:checked~.check_pay {
  display: block;
  width: 888px;
  color: gold;
  background-color: rgb(58, 73, 156);
}
