#head {
  width: 962px;
  margin: 0 auto;
  background-color: rgb(58, 73, 156);
}

#head a {
  color: gold;
}

#head header {
  position: relative;
  text-align: center;
  z-index: 14;
}

#head .logo {
  padding-top: 50px;
}

#head .search {
  padding-top: 20px;
}

#search_text {
  width: 200px;
  height: 15px;
  border-color: rgb(58, 73, 156);
}

#search_btn {
  width: 50px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(58, 73, 156);
  border-color: gold;
  color: gold;
  cursor: pointer;
}

#right_nav {
  position: relative;
  float: right;
  right: 10px;
  height: 35px;
  line-height: 12px;
  z-index: 1000;
}

#right_nav ul li {
  position: relative;
  display: inline-block;
  height: 35px;
  line-height: 35px;
}

#right_nav ul li a {
  padding: 0 5px;
  verticla-align: middle;
  font-size: 12px;
  cursor: pointer;
}

#right_nav ul li a:hover {
  text-decoration: underline;
}

#main_menu ul {
  padding: 20px;
  text-align: center;
}

#main_menu ul li {
  position: relative;
  display: inline-block;
  padding: 10px 0;
}

#main_menu ul li a {
  padding: 10px 20px;
  verticla-align: middle;
  font-size: 17px;
}

#body .wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  border-left: 1px solid rgb(58, 73, 156);
  border-right: 1px solid rgb(58, 73, 156);
}

#body .content_area {
  width: 960px;
  float: left;
}

#body .container {
  min-height: 400px;
  padding: 40px 35px;
}

#body .main_top {
  postion: relative;
  margin-bottom: 30px;
}

#ad {
  position: relative;
  display: inline-block;
  width: 590px;
  height: 120px;
  border: 1px solid rgb(58, 73, 156);
}

#account {
  position: absolute;
  top: 40px;
  right: 35px;
  width: 290px;
  height: 120px;
  margin-left: 8px;
  margin: 0;
  text-align: center;
  background-color: rgb(58, 73, 156);
}

#account_btn1, #account_btn2 {
  width: 115px;
  height: 70px;
  margin: 10px 5px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(58, 73, 156);
  border-color: gold;
  color: gold;
  cursor: pointer;
}

#account .account_sub {
  font-size: 15px;
  color: gold;
}

#account a {
  color: gold;
}

#account a:hover {
  text-decoration: underline;
}

#body .post_area {
  position: relative;
  margin-bottom: 30px;
}
#body .post_area h4 {
  color: rgb(58, 73, 156);
}
#body .post_area a:hover {
  text-decoration: underline;
}
#body .post_area ul {
  position: relative;
  margin: 20px 0;
  text-align: center;
}

#body .platinum li {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 200px;
  margin: 5px 5px;
  border: 1px solid rgb(58, 73, 156);
}
#body .platinum .post_brand {
  position: absolute;
  width: 100px;
  height: 50px;
  padding: 15px 30px;
  border-bottom: 1px solid rgb(58, 73, 156);
}
#body .platinum .post_title {
  position: absolute;
  top: 80px;
  width: 160px;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgb(58, 73, 156);
}
#body .platinum .post_loc {
  position: absolute;
  top: 160px;
  width: 160px;
  height: 20px;
  font-size: 15px;
  border-bottom: 1px solid rgb(58, 73, 156);
}
#body .platinum .post_pay {
  position: absolute;
  top: 180px;
  width: 160px;
  height: 20px;
  font-size: 15px;
}

#body .gold li {
  position: relative;
  width: 890px;
  height: 30px;
  margin: 5px 0;
  border-top: 1px solid rgb(58, 73, 156);
  border-bottom: 1px solid rgb(58, 73, 156);
}
#body .gold .post_brand {
  position: absolute;
  display: inline-block;
  left: 0px;
  width: 100px;
  height: 25px;
  padding-top: 5px;
  font-size: 15px;
  border-right: 1px solid rgb(58, 73, 156);
}
#body .gold .post_title {
  position: absolute;
  display: inline-block;
  left: 100px;
  width: 500px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  border-right: 1px solid rgb(58, 73, 156);
}
#body .gold .post_loc {
  position: absolute;
  display: inline-block;
  left: 600px;
  width: 145px;
  height: 25px;
  padding-top: 5px;
  font-size: 15px;
  border-right: 1px solid rgb(58, 73, 156);
}
#body .gold .post_pay {
  position: absolute;
  display: inline-block;
  left: 745px;
  width: 145px;
  height: 25px;
  padding-top: 5px;
  font-size: 15px;
}
