#head {
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;
}

#head h1 {
  color: rgb(58, 73, 156);
  font-size: 30px;
}

#loginArea {
  position: relative;
  margin: 0 40px;
}

#loginArea .login_tab {
  position: relative;
  margin-top: 30px;
}
#tab_form input[type="radio"] {
  display: none;
}
#tab_form label {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  height: 35px;
  padding-top: 5px;
  color: rgb(58, 73, 156);
  border: 1px solid rgb(58, 73, 156);
  border-bottom: 3px solid rgb(58, 73, 156);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
#tab_form label[for="tool_tab1"] {
  position: relative;
}
#tab_form label[for="tool_tab2"] {
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 0px;
}
#tool_tab1:checked+label[for="tool_tab1"] {
  height: 35px;
  padding-top: 2px;
  border: 3px solid rgb(58, 73, 156);
  border-bottom: 0;
}
#tool_tab2:checked+label[for="tool_tab2"] {
  height: 35px;
  padding-top: 2px;
  border: 3px solid rgb(58, 73, 156);
  border-bottom: 0;
}

#tab_form .input_con {
  position: relative;
  padding: 20px 0;
  text-align: center;
  border-left: 3px solid rgb(58, 73, 156);
  border-right: 3px solid rgb(58, 73, 156);
}
#login_id, #login_pw {
  width: 70%;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid rgb(58, 73, 156);
}

#tab_form .tab_con {
  position: relative;
  display: none;
  text-align: center;
}
#tool_tab1:checked~.offerer {
  display: block;
  padding-bottom: 30px;
  border-left: 3px solid rgb(58, 73, 156);
  border-right: 3px solid rgb(58, 73, 156);
}
#tool_tab2:checked~.hunter {
  display: block;
  padding-bottom: 30px;
  border-left: 3px solid rgb(58, 73, 156);
  border-right: 3px solid rgb(58, 73, 156);
}
#login_off, #login_hun {
  width: 50%;
  height: 40px;
  background-color: rgb(58, 73, 156);
  color: gold;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

#login_sns {
  padding-top: 20px;
}
#login_sns ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
}

#subArea {
  position: relative;
  padding-bottom: 20px;
  margin: 0 40px;
  font-size: 15px;
  text-align: center;
  color: rgb(58, 73, 156);
  border: 3px solid rgb(58, 73, 156);
  border-top: 0;
}
#subArea a {
  color: rgb(58, 73, 156);
}
#subArea a:hover {
  text-decoration: underline;
}
